<nav class="navbar navbar-light">

</nav>
<h3>
<nobr>資料日期:~2020/12/21 <div class="btn-group">

  <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    台灣境外移入人數TOP3國家
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/ind">NO.1 印尼</a>
    <a class="dropdown-item" href="/us"> NO.2 美國</a>
    <a class="dropdown-item" href="/phi"> NO.3 菲律賓</a>
  </div>
</div>
<div class="btn-group">

    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      與台灣密切來往國家
    </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/chi">中國</a>
    <a class="dropdown-item" href="/jap"> 日本</a>
  </div>
</div> <a href="/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">全國疫情分佈</a></nobr>

      </form>
    </div>
  </nav>
</h3>
