{% extends 'base.html' %}
{% load static %}
{%block content%}

<center>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<div class="row">
    <div class="col">
        <h5><img src="{% static "ind.jpg" %}" width=50 >印尼累積確診人數</h5>
    <canvas id="myChart" width="60" height="50"></canvas>
    </div>
    <div class="col">

<script>

    
var ctx = document.getElementById('myChart').getContext('2d');

var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',
    data: {
        labels: [{% for d1 in dict_list1 %}'{{d1.date}}',{% endfor %}],
        datasets: [{
            label: '累積確診人數',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [{% for d1 in dict_list1 %}'{{d1.cases}}',{% endfor %}],
            
            
        }]
    },

    // Configuration options go here
    options: {}
});
</script>
<h5>印尼疫情趨勢</h5>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<canvas id="myChart1" width="60" height="50" hoverBorderWidth="7"></canvas></div>
</div>
<script>

    
var ctx = document.getElementById('myChart1').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: [{% for d1 in dict_list1 %}'{{d1.date}}',{% endfor %}],
        datasets: [{
            label: '單日確診人數',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [{% for d1 in dict_list1 %}'{{d1.new_cases}}',{% endfor %}]
        }]
    },

    // Configuration options go here
    options: {}
});

</script>

</center>


{% endblock %}
